<% provide(:title, "About") %>

<div class="container" id="about-us">
        <div class="row">
                <h1>About us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra vehicula tempus. Morbi a massa sed urna finibus venenatis id id arcu. Mauris eu luctus dui. Sed aliquam eget mauris sed ullamcorper. Integer mattis volutpat mauris a facilisis. Nunc non orci dolor. Vestibulum ultricies ac augue sed tristique. Nulla et leo sit amet odio porttitor consectetur eget vel sapien. Morbi pharetra vehicula auctor. Vivamus sapien orci, vehicula at tempus ac, viverra sed tellus</p>
            </div>

        <div class="row">
                <h2>Our Story</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra vehicula tempus. Morbi a massa sed urna finibus venenatis id id arcu. Mauris eu luctus dui. Sed aliquam eget mauris sed ullamcorper. Integer mattis volutpat mauris a facilisis. Nunc non orci dolor. Vestibulum ultricies ac augue sed tristique. Nulla et leo sit amet odio porttitor consectetur eget vel sapien. Morbi pharetra vehicula auctor. Vivamus sapien orci, vehicula at tempus ac, viverra sed tellus</p>
            </div>
        
        <div class="row">
            <h2>What We Provide</h2>
            <div class="col-md-6 what-we-provide">
                <h3>iOS App</h3>
                <img src="http://placehold.it/280x350" class="img-responsive">
            </div>
            <div class="col-md-6 what-we-provide">
                <h3>Newsletter</h3>
                <img src="http://placehold.it/280x350" class="img-responsive">
            </div>
        </div>

        <div class="row">
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra vehicula tempus. Morbi a massa sed urna finibus venenatis id id arcu. Mauris eu luctus dui. Sed aliquam eget mauris sed ullamcorper. Integer mattis volutpat mauris a facilisis. Nunc non orci dolor. Vestibulum ultricies ac augue sed tristique. Nulla et leo sit amet odio porttitor consectetur eget vel sapien. Morbi pharetra vehicula auctor. Vivamus sapien orci, vehicula at tempus ac, viverra sed tellus</p>
        </div>
        </div>
    </div>