<div class="grid">
	<div class="col-1-1" id="bar-registration-container">
		<h1>Register Your Bar</h1>
		<div id="form-fields">
			<form>
				<label id="email">
					<span>Email:</span><input id="email" type="email" name="email" />
				</label>
				<br />
				<label id="password">
					<span>Password:</span><input id="password" type="password" name="password" />
				</label>
				<br />
				<label>
					<input id="submit" type="submit" value="Submit" />
				</label>
			</form>
		</div>
	</div>
</div>