<%= provide(:title, "Bars") %>
<div class="grid">
    <div class="col-1-1" id="bars-label">
        <h1>Bars</h1>
        <h2>Filter by area:
        <select>
            <option>All</option>
            <option>Downtown</option>
            <option>Federal Hill</option>
            <option>Fells Point</option>
            <option>Johns Hopkins</option>
            <option>Loyola</option>
        </select>
        </h2>
    </div>
</div>
  
  <% @bars.each do |bar| %>
    <div class="grid bars-grid">
      <div class="col-3-12">
              <div id="bar-thumbnail">
                  <img src="images/zen.png">
                  <h3><span>LOYOLA</span></h3>
              </div>
          </div>
          <div class="col-9-12">
             <div id="bar-detail">
                  <h3><%= @bar.name %></h3>
                  <p><%= @bar.address_1 %></p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ullamcorper velit. Curabitur commodo pretium dui, et accumsan felis egestas at. Donec feugiat orci justo, quis eleifend sem ornare ac. Aenean volutpat at tellus eget viverra. Sed rutrum ut elit sed consequat. Sed consectetur tincidunt quam, vel vestibulum neque tempus et. Nam aliquet, felis a vulputate pharetra, enim sem suscipit nibh, vitae euismod urna est non sem. Integer in venenatis ante. </p>
              </div>
          </div>
    </div>
  <% end %>  
<!-- </div> -->
