<%= provide(:title, "Bars") %>

`<div class="container" id="bars-header">
    <h1>Bars</h1>
    <div class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" id="filter-by-area">Filter by area:</label>
      <div class="col-sm-3">
        <select class="form-control">
            <option>All</option>
            <option>Downtown</option>
            <option>Federal Hill</option>
            <option>Fells Point</option>
            <option>Johns Hopkins</option>
            <option>Loyola</option>
        </select>
       </div>
      </div>
    </div>
  </div>
  
  <% @bars.each do |bar| %>
  <div class="container" id="bars-content-container">
    <div class="row">
      <div class="col-md-3">
        <img src="http://placehold.it/263x200" class="img-responsive" alt="bar-profile-placeholder">
      </div>
      <div class="col-md-9" id="bars-bar-content">
        <h2><a href="<%= bar.name %>"><%= bar.name %></a></h2>
        <p><%= bar.address_1 %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra vehicula tempus. Morbi a massa sed urna finibus venenatis id id arcu. Mauris eu luctus dui. Sed aliquam eget mauris sed ullamcorper. Integer mattis volutpat mauris a facilisis. Nunc non orci dolor. Vestibulum ultricies ac augue sed tristique. Nulla et leo sit amet odio porttitor consectetur eget vel sapien. Morbi pharetra vehicula auctor. Vivamus sapien orci, vehicula at tempus ac, viverra sed tellus</p>
      </div>
    </div>
  </div>
   
  <% end %>  
<!-- </div> -->
