<div class="footer">
        <div class="container">
            <ul>
                <li><u><a href="#">Terms of Service</a></u></li>
                <li><u><a href="#">Privacy Policy</a></u></li>
                <li><u><a href="#">Register Your Business</a></u></li>
            </ul>
        </div>
    </div>