<div class="navigation-wrapper">
<!-- Start Navigation Grid -->
<div class="grid" id="nav-wrapper-grid">
	<!-- Start Columns -->
<div class="col-1-1">
	<!-- Start Navigation Wrapper -->
	<nav id="nav-wrapper">
		<div id="links">
			<a href="/" id="nav-logo"><%= image_tag 'nav-logo.png' %></a>
			<ul id="nav">
				<li><a href="/bars">BARS</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/bars/new">REGISTER YOUR BAR</a></li>
			</ul>
		</div>
	</nav>
	<!-- End Navigation Wrapper -->
    </div>
    <!-- End Columns -->
</div>
<!-- End Navigation Grid -->
</div>